<div class="container">
  <div class="row">
    <table *ngIf="!esconder" class="table table-striped table-hover">
      <thead>
        <tr>
          <td>Nome</td>
          <td>Disponibilidade</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{curso.nome}}</td>
          <td>{{curso.disponibilidade}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6 form-group"> <label for="nomeInput">Nome</label> <input type="text" class="form-control"
        id="nomeInput" #nomeInput> </div>
    <div class="col-md-6 form-group mb-2"> <label for="Disponibilidade">Disponibilidade</label> <input type="text" class="form-control"
        id="nomeInput" #disponibilidadeInput> </div>
  </div>
  <div class="row"> <button class="btn btn-primary btn-block" (click)="adicionar(nomeInput.value, disponibilidadeInput.value)"
      type="button">Cadastrar curso</button> </div>
  <div class="row"> <button class="btn btn-primary btn-block mt-3" (click)=alterarExibicao()>{{textoBotao}}</button>
  </div>
</div>